services:
  frontend:
    build: ./frontend/serp
    container_name: react
    hostname: react
    tty: true
    ports:
      - 3000:80
    depends_on:
      - backend
    networks:
      - production_nw

  backend:
    build: ./backend
    environment:
      - APP_ENV=production
    container_name: flask
    hostname: flask
    tty: true
    ports:
      - 5000:5000
    volumes:
      - ./backend/:/app
    networks:
      - production_nw

networks:
  production_nw:
    driver: bridge
