services:
  frontend:
    build: ./frontend/serp
    container_name: react
    hostname: react
    tty: true
    ports:
      - 3000:80
    depends_on:
      - backend
    networks:
      - production_nw

  backend:
    build: ./backend
    container_name: flask
    hostname: flask
    tty: true
    ports:
      - 5000:5000
    volumes:
      - ./backend/:/app
    depends_on:
      - postgres
    networks:
      - production_nw

  postgres:
    build: ./postgres
    container_name: postgres
    hostname: postgres
    tty: true
    ports:
      - 5433:5432
    volumes:
      - postgres-store:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    networks:
      - production_nw
volumes:
  postgres-store:

networks:
  production_nw:
    driver: bridge
